<!-- 
File name: prokects.ejs
Student's name: Alice Huynh
Student ID: 301341638
Date: 2023-09-25
-->
<!DOCTYPE html>
<html>

  <%- include ('partials/head.ejs')%>

  <body>

    <div id = "page-container">
  
      <div id = "content-wrap">

        <main>

        <div id ="header-container">

          <div id = "title-container">
            <%- include ('partials/header.ejs')%>

            <%- include ('partials/logo.ejs')%>
          </div>

            <%- include ('partials/nav-bar.ejs')%>
          
        </div>

        <div class ="nav-container-fluid">
          <h2>Current Projects</h2>
          
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="./img/project1-website.jpg" alt="A Pink Website">
                <div class="card-body">
                  <h5 class="card-title">Creating an Interactive Website</h5>
                  <p class="card-text">
                    Craft a dynamic online experience that engages users with interactive features, 
                    captivating content, and seamless navigation.
                  </p>
                </div>
               
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/project2-2dvideogame.jpg" alt="A Picnic Under a Tree">
                <div class="card-body">
                  <h5 class="card-title">Making 2D Sims Farming Game</h5>
                  <p class="card-text">
                    Immerse yourself in the world of agriculture with our 2D farming simulation project, 
                    where you cultivate crops and manage your own virtual farm.
                  </p>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="./img/project3-ecommercewebsite.jpg" alt="A Woman infront of A Big Phone Screen That Looks Like a Warerobe">
                <div class="card-body">
                  <h5 class="card-title">Creating an E-commerce App/Website</h5>
                  <p class="card-text">
                    Establish a robust online retail presence with a fully functional e-commerce website/app, enabling smooth shopping, 
                    secure transactions, and effective product management.
                  </p>
                </div>
                
              </div>
            </div>
          </div>

        </main>

      </div>
      
      <%- include ('partials/footer.ejs')%>

    </div>

  </body>

</html>
