<!DOCTYPE html>
<html>

  <%- include ('partials/head.ejs')%>

  <body>

    <div id = "page-container">
  
      <div id = "content-wrap">

        <main>

        <div id ="header-container">

          <div id = "title-container">
            <%- include ('partials/header.ejs')%>

            <%- include ('partials/logo.ejs')%>
          </div>

            <%- include ('partials/nav-bar.ejs')%>
          
        </div>

        <div class ="nav-container-fluid">
          <h2>Services Offer</h2>
          <div class="card-group">
            <div class="card">
              
                <img src="img/software.png" class="card-img-top" alt="PC Computer Icon">
                <div class="card-body">
                  <h5 class="card-title">Custom Software Development</h5>
                  <p class="card-text">
                    We create bespoke software solutions tailored to your specific requirements, ensuring optimal functionality and efficiency.
                  </p>
                </div> 
              
            </div>

            <div class="card">
              
                <img src="img/web-programming.png" class="card-img-top" alt="Website Icon">
                <div class="card-body">
                  <h5 class="card-title">Web Application Development</h5>
                  <p class="card-text">
                    Our team of skilled developers crafts user-friendly and responsive web applications that engage and delight users.
                  </p>
                </div>
              
            </div>

            <div class="card">
              
                <img src="img/mobile-application.png" class="card-img-top" alt="Mobile App Icon">
                <div class="card-body">
                  <h5 class="card-title">Mobile Application Development</h5>
                  <p class="card-text">
                    We design and build mobile apps for iOS and Android platforms, providing you with a mobile presence that stands out.
                  </p>
                </div>
              
            </div>

          </div>

          <div class="card-group">
            <div class="card">
              
                <img src="img/ecommerce.png" class="card-img-top" alt="PC Computer Icon">
                <div class="card-body">
                  <h5 class="card-title">E-commerce Solutions</h5>
                  <p class="card-text">
                    From online storefronts to payment processing, we develop e-commerce solutions that drive sales and enhance customer experiences.
                  </p>
                </div> 
              
            </div>

            <div class="card">
              
                <img src="img/cloudservice.png" class="card-img-top" alt="Website Icon">
                <div class="card-body">
                  <h5 class="card-title">Cloud Services</h5>
                  <p class="card-text">
                    We harness the power of cloud technology to enable scalable and cost-effective solutions for your business.
                  </p>
                </div>
              
            </div>

          </div>

        </main>

      </div>
      
      <%- include ('partials/footer.ejs')%>

    </div>

  </body>

</html>
